{% extends 'base.html.twig' %}

{% block title %}Galerie de {{ galerie.Auteur }}{% endblock %}
{# ... #}
  {% block body %}
      <h1>{{ galerie.Nom }}</h1>


      <table class="table">
          <thead>
          <tr>
              <!-- <th>Id</th> -->
              <th>Titre de la Photo</th>
              <th>Albums</th>
              <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          {% for photo in galerie.Photo %}
              <tr>
                  <!-- <td>{{ photo.id }}</td> -->
                  <td>{{ photo.Titre }}</td>
                  <td>
                      {% for album in photo.albums %}
                          <li>
                          <a href="{{ path('app_album_show', {'id': album.id}) }}">{{ album.Nom }}</a>
                          </li>
                      {% endfor %}
                  </td>
                  <td>
                      <a href="{{ path('Photo_show', {'id': photo.id}) }}">Montrer la photo</a>
                  </td>
              </tr>
          {% else %}
              <tr>
                  <td colspan="5">Aucune photo trouvée</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
      {% if app.user %}
      {% if app.user.Pseudo == galerie.Auteur or is_granted('ROLE_ADMIN')%}
        <a href="{{ path('app_photo_new')}}">Ajouter une photo</a>
      {% endif %}
      {% endif %}
      <a href="{{ path('app_galleries')}}">Retour vers les galeries</a>

  {% endblock %} {# body #}
{# ... #}


