{% extends 'base.html.twig' %}

{% block title %}Galerie de {{ galerie.Auteur }}{% endblock %}
{# ... #}
  {% block body %}
      <h1>{{ galerie.Nom }}</h1>


      <table class="table">
          <thead>
          <tr>
              <!-- <th>Id</th> -->
              <th>Titre de la Photo</th>
              <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          {% for photo in galerie.Photo %}
              <tr>
                  <!-- <td>{{ photo.id }}</td> -->
                  <td>{{ photo.Titre }}</td>
                  <td>
                      <a href="{{ path('Photo_show', {'id': photo.id}) }}">Montrer la photo</a>
                  </td>
              </tr>
          {% else %}
              <tr>
                  <td colspan="5">Aucune photo trouvée</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>

      <a href="{{ path('app_galleries')}}">Retour vers les galeries</a>

  {% endblock %} {# body #}
{# ... #}


