{% extends 'base.html.twig' %}

{# ... #}
  {% block body %}
      <h1>{{ photo.Titre }}</h1>

      {% dump photo %}

      <table class="table">
          <tbody>
          <tr>
              <th>Description</th>
              <td>{{ photo.Description }}</td>
          </tr>
          <tr>
              <th>ShutterSpeed</th>
              <td>{{ photo.ShutterSpeed }}</td>
          </tr>
          <tr>
              <th>Ouverture</th>
              <td>{{ photo.Ouverture }}</td>
          </tr>
          <tr>
              <th>ISO</th>
              <td>{{ photo.ISO }}</td>
          </tr>
          </tbody>
      </table>

      <a href="{{ path('galleries_show',{'id':photo.id}) }}">Retour ver la gallerie de {{ photo.Auteur }}</a>

  {% endblock %} {# body #}
{# ... #}


