{% extends 'base.html.twig' %}

{% block title %}{{ photo.Titre }}{% endblock %}

{# ... #}
  {% block body %}
      <h1>{{ photo.Titre }}</h1>

      {% dump photo %}

      <table class="table">
          <tbody>
          <tr>
              <th>Description</th>
              <td>{{ photo.Description }}</td>
          </tr>
          <tr>
              <th>ShutterSpeed</th>
              <td>{{ photo.ShutterSpeed }}</td>
          </tr>
          <tr>
              <th>Ouverture</th>
              <td>{{ photo.Ouverture }}</td>
          </tr>
          <tr>
              <th>ISO</th>
              <td>{{ photo.ISO }}</td>
          </tr>
          </tbody>
      </table>

      {% if app.user %}
          {% if app.user.Pseudo == photo.Auteur or is_granted('ROLE_ADMIN') %}
              {{ include('photo/_delete_form.html.twig') }}
          {%  endif %}
      {%  endif %}

      <button onclick="history.back()">Retour</button>

  {% endblock %} {# body #}
{# ... #}


