{% extends 'base.html.twig' %}

{% block title %}{{ photo.Titre }}{% endblock %}

{# ... #}
  {% block body %}
      <h1>{{ photo.Titre }}</h1>

      {% dump photo %}

      <table class="table">
          <tbody>
          <tr>
              <th>Description</th>
              <td>{{ photo.id }}</td>
          </tr>
          <tr>
              <th>ShutterSpeed</th>
              <td>{{ photo.ShutterSpeed }}</td>
          </tr>
          <tr>
              <th>Ouverture</th>
              <td>{{ photo.Ouverture }}</td>
          </tr>
          <tr>
              <th>ISO</th>
              <td>{{ photo.ISO }}</td>
          </tr>
          </tbody>
      </table>

      <a href="{{ path('app_album_show', { 'id': album.id}) }}">Retour à l'album</a>

  {% endblock %} {# body #}
{# ... #}


