{% extends 'base.html.twig' %}

{% block title %}{{ album.Nom }}{% endblock %}

{% block body %}
    <h1>{{ album.Nom }}</h1>

    <h4>
        <b>Auteur</b>
    </h4>
    <p>{{ album.Auteur.Pseudo }}</p>



    <h4>
        <b>Description</b>
    </h4>
    <p>{{ album.Description }}</p>



    <h2>Photos</h2>
    <ul>
        {% for photo in album.Objets %}
            <li>
                <a href="{{ path('Photo_show', {'id' : photo.id}) }}">{{ photo.Titre }}</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_album_index') }}">Retour aux albums</a>


{% endblock %}
